#root {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.page {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.h-art-home {
  height: var(--home-article-h);
}


/*PageTop*/
.title {
  width: 100%;
  height: var(--title-h);
  font-size: var(--title-font-d);
  text-align: center;
  margin-top: 1rem;
}

.navbar {
  position: sticky;
  top: 0;
  display: block;
  background-color: antiquewhite;
  overflow: hidden;
  z-index: 10;
}
.nav-t {
  height: var(--nav-h);
  width: 100%;
  border-top: var(--border-home) black solid;
  border-bottom: var(--border-home) black solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-row {
  vertical-align: middle;
  height: 100%;
  width: 90%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-block {
  text-align: center;
  font-size: var(--nav-font-d);
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color .2s ease-in-out;
  transition: color .2s ease-in-out;
}
.nav-block:hover {
  background-color:bisque;
  color: chocolate;
  cursor: pointer;
}

.separator-v {
  width: .5px;
  height: 60%;
  background-color: black;
}


/*PageContent*/
.column {
  flex-grow: 1;
  min-width: 20%;
}

.articles {
  flex-grow: 2;
  margin-left: 1rem;
  margin-right: 1rem;
}

.article {
  height: 100%;
  width: 100%;
  border-bottom: var(--border-home) solid black;
}
.art-img {
  width: 100%;
  height: var(--art-pic-h);
  overflow: hidden;
  border-radius: 5px;
  margin-top: 2rem;
}
.art-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}
.art-img:hover img {
  transform: scale(1.1);
  opacity: 80%;
  cursor: pointer;
}
.art-data {
  width: 100%;
  margin-top: .5rem;
}
.art-desc{
  display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--art-description-line-number);
    overflow: hidden;
    text-overflow: ellipsis; 
    line-height: var(--art-description-line-height);
    max-height: calc(var(--art-description-line-height) * var(--art-description-line-number));
  }


.footer {
  width: 100%;
  display: flex;
}
.foot {
  height: 10rem;
  border-top: var(--border-home) black solid;
  display: flex;
  justify-content: center;
}
.foot-data {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.foot-data > * {
  text-align: center;
}
.policy-cookies{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.pol-cook-cell {
  width: 7rem;
  text-align: center;
}
.b {
  border-left : .1rem solid black;
}
a {
  text-decoration: none;
  color: black;
}



  @media (min-width: 576px) {
    .lg {
        max-width: 540px; 
    }
  }
  @media (max-width: 576px){
    .articles {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  
  @media (min-width: 768px) {
    .lg {
        max-width: 720px; 
    }
  }
  
  @media (min-width: 992px) {
    .lg {
        max-width: 940px;
    }
  }
  @media (max-width: 992px){
    .c-l {
      display: none;
    }
    .c-r {
      display: none;
    }
    .articles {
      margin: 0;
    }
  }
  

  @media (min-width: 1200px) {
    .lg {
        max-width: 1140px; 
    }
  }
  @media (max-width: 1200px){
    .c-l {
      display: none;
    }
    .articles {
      margin-left: 0;
    }
  }
  
  @media (min-width: 1400px) {
    .lg {
        max-width: 1320px;
    }
  }